# for cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# for cmake build
build
build.*
!build/.placeholder

# for emacs
*~
.\#*
\#*
auto

# for c
*.o

